.project-list-page {
  img {
    width: 100%;
    height: auto;
  }

  .project-category {
    display: flex;
    flex-flow: column;
    align-items: center;
    h1 {
      @extend %fontS !optional;
      font-size: 23px;
      margin: 72px auto 23px auto;
      width: 71vw;
      color: #f15a22;
      text-align: center;
    }

    p {
      margin: 0 41px 94px 41px;
      text-align: left;
    }

    .view-more {
      width: 30vw;
    }

    &:last-child {
      a {
        margin-bottom: 94px;
      }
    }
  }
}
