.about-us-main-page {
  img {
    width: 100%;
    height: auto;
  }

  .intro-desc {
    @media screen and (min-width: 680px) {
      padding: 0 2rem;
    }
  }

  .aboutus-main-top {
    height: 416px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-position: center !important;
    margin-bottom: 199px;
    background-size: cover !important;

    @media screen and (min-width: 1200px) {
      height: 48vw;
      margin-bottom: 110px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(241, 90, 34, 0.5);
      display: block;
    }

    .top-desc {
      z-index: 1;
      width: 79vw;
      background-color: #f15a22;
      opacity: 0.95;
      color: #ffffff;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media screen and (min-width: 1200px) {
        top: calc(48vw * 0.6);
        left: 0;
        transform: translate(0, 0);
        width: 48vw;
        padding: 0 0 0 7rem;
      }
    }
    h1 {
      @extend %fontS !optional;
      font-size: 23px;
      margin: 23px 23px 18px 23px;
      text-align: center;
      @media screen and (min-width: 1200px) {
        text-align: left;
        font-size: 2.4rem;
      }
    }
    p {
      color: #ffffff;
      margin: 0 19px 21px 19px;
      @media screen and (min-width: 1200px) {
        text-align: left;
      }
    }
  }

  .program-cur {
    display: flex;
    flex-flow: column;
    align-items: center;

    h1 {
      @extend %fontS !optional;
      // font-size: 23px;
      margin: 0 93px 30px 93px;
      color: #f15a22;
      text-align: center;
    }

    p {
      text-align: left;
      margin: 0 33px 34px 33px;
    }

    a {
      @extend %fontS !optional;
      // font-size: 22px;
      color: #ffffff;
      padding: 15px 18px;
      background-color: #f15a22;
      text-decoration: none;
      margin: 0 auto;
      border-radius: 5px;
    }

    @media screen and (min-width: 1200px) {
      margin: 0 calc(435px / 2);
      .intro-desc {
        text-align: center;
      }
    }
  }

  .discover {
    margin-top: 112px;
    display: flex;
    flex-flow: column;
    align-items: center;

    @media screen and (min-width: 1200px) {
      margin: 0 calc(435px / 4) 270px;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem;

      .discover-desc {
        order: 2;
      }
    }

    h1 {
      @extend %fontS !optional;
      // font-size: 23px;
      margin: 0 97px 30px 97px;
      color: #f15a22;
      text-align: center;
      @media screen and (min-width: 1200px) {
        margin: 0 0 27px 0;
        text-align: left;
      }
    }

    p {
      text-align: left;
      margin: 0 33px 21px 33px;
      @media screen and (min-width: 680px) {
        padding: 0 2rem;
      }

      @media screen and (min-width: 1200px) {
        margin: 0 0 27px 0;
        padding: 0;
      }
    }

    ul {
      list-style-type: disc;
      @extend %fontReg !optional;
      // font-size: 13px;
      color: #707070;
      letter-spacing: 0.39px;

      line-height: 1.8;
      text-align: left;
      margin: 0 74px 39px 50px;
      padding: 0;

      @media screen and (min-width: 768px) {
        margin: 0 0 39px 80px;
        padding: 0;
        align-self: flex-start;
      }

      @media screen and (min-width: 1200px) {
        margin: 0;
        padding-left: 1.5rem;
      }

      li {
        margin: 0 0 10px 0;
        padding: 0;
        font-size: 13px;
        @media screen and (min-width: 1200px) {
          font-size: 1rem;
        }
      }
    }

    .discover-img {
      width: calc(347 / 414 * 100vw);
      height: calc(324 / 414 * 100vw);
      margin: 0 34px 118px 34px;
      background-size: cover !important;
      background-position: center !important;

      @media screen and (min-width: 1200px) {
        margin: 0;
        width: 45vw;
        height: 22vw;
      }
    }
  }

  .hear-alumni {
    display: flex;
    flex-flow: column;
    align-items: center;

    @media screen and (min-width: 1200px) {
      margin: 0 calc(435px / 4) 270px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 0.1fr);
      grid-gap: 1rem;
    }

    h1 {
      @extend %fontS !optional;
      // font-size: 23px;
      margin: 0 90px 31px 90px;
      color: #f15a22;
      text-align: center;

      @media screen and (min-width: 1200px) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 0;
        text-align: left;
      }
    }

    p {
      margin: 0 34px 31px 34px;
      text-align: left;
      @media screen and (min-width: 1200px) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 0;
        padding: 0;
        text-align: left;
      }
    }

    .hear-alumni-img-container {
      // width: 45vw;
      // height: 32vw;
      margin: 0 34px 31px 34px;
      display: block;
      width: 100%;
      @media screen and (min-width: 1200px) {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        margin: 0;
      }
    }

    .hear-alumni-img {
      background-position: center !important;
      background-size: cover !important;
      width: 84vw;
      height: 78vw;
      margin: 0 auto;
      @media screen and (min-width: 1200px) {
        width: 45vw;
        height: 32vw;
      }
    }

    a {
      font-family: Arial;
      font-size: 14px;
      width: 20vw;

      @media screen and (min-width: 1200px) {
        font-size: 20px;
        @media screen and (min-width: 1200px) {
          grid-column: 1 / 2;
          grid-row: 3 / 4;
          text-align: left;
        }
      }
    }
  }

  .join-wmdd {
    margin-top: 150px;
    display: flex;
    flex-flow: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
      margin-bottom: 100px;
    }

    h1 {
      @extend %fontS !optional;
      // font-size: 23px;
      margin: 0 90px 31px 90px;
      color: #707070;
    }

    p {
      margin: 0 35px 41px 35px;
    }

    a {
      @extend %fontS !optional;
      // font-size: 22px;
      color: #ffffff;

      background-color: #f15a22;
      text-decoration: none;
      margin: 0 auto 25px auto;
      border-radius: 5px;
    }
    .apply-now {
      padding: 15px 26px;
      border-radius: 0;
    }
    .admission {
      padding: 15px 18px;
      margin: 0 auto 41px auto;
      border-radius: 0;
    }
  }
}
