.studentwork-top-intro {
  margin: 94px 33px 0 33px;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    margin: calc(156px / 1.5) calc(435px / 4);
  }

  h1 {
    // font-size: 23px;
    text-align: center;
    color: #f15a22;
    @extend %fontS !optional;
    margin-bottom: 30px;
  }
  p {
    text-align: left;
    margin-bottom: 30px;
  }
  .intro-desc {
    @media screen and (min-width: 680px) {
      padding: 0 2rem;
    }

    @media screen and (min-width: 1200px) {
      width: 60vw;
    }
  }

  a {
    font-size: 14px;
    letter-spacing: 0.14px;
    color: #707070;
    font-family: Arial;
    @media screen and (min-width: 1200px) {
      font-size: 20px;
    }
  }
}
