.project-category-page {
  div {
    display: flex;
    flex-flow: column;
    align-items: center;
    h1 {
      @extend %fontS !optional;
      font-size: 23px;
      margin: 72px auto 23px auto;
      color: #f15a22;
    }
    p {
      margin: 0 41px 94px 41px;
      text-align: left;
    }

    .intro-desc {
      @media screen and (min-width: 680px) {
        padding: 0 2rem;
      }
    }
  }
}
