.alumna {
  margin-bottom: 128px;
  .alumna-desc {
    text-align: left;
    margin: 0 33px 35px 0;
    border-left: 33px solid #f15a22;
    padding-left: 33px;
    @media screen and (min-width: 1200px) {
      border-left: 0.4vw solid #f15a22;
    }
    h2 {
      font-size: 18px;
      color: #707070;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      margin: 0;
      @media screen and (min-width: 1200px) {
        font-size: 1.2vw;
      }
    }
    p {
      text-align: left;
      margin: 0;
      font-size: 15px;
      @media screen and (min-width: 1200px) {
        font-size: 1.2vw;
      }
    }
    @media screen and (min-width: 768px) {
      .stream,
      .year {
        display: inline;
        margin-right: 0.3rem;
      }
    }
  }

  .alumna-movie {
    display: flex;
    flex-flow: column;
    align-items: center;
    iframe {
      width: 82vw;
      height: 82vw;
    }

    @media screen and (min-width: 1200px) {
      align-items: baseline;

      iframe {
        width: 37vw;
        height: 21vw;
      }
    }
  }
}
