.front-page {
  img {
    width: 100%;
    height: auto;
  }

  .intro,
  .top-apply {
    background-position: center !important;
  }

  .intro {
    position: relative;
    margin-bottom: 295px;
    height: 422px;
    display: flex;
    flex-flow: column;
    align-items: center;

    .intro-desc {
      position: absolute;
      top: 43vw;
      width: 80vw;

      background-color: #ffffff;
      border: 0.5px solid var(--unnamed-color-707070);
      border: 0.5px solid #707070;
      border-radius: 10px;
      text-align: center;

      h1 {
        font-size: 23px;
        color: #f15a22;
        @extend %fontS !optional;
        margin: 26px 36px 18px 36px;
      }
      p {
        margin: 0 24px 49px 24px;
      }
    }

    .button {
      position: absolute;
      top: 590px;
      background-color: #f15a22;
      padding: 0;
      border: none;
      width: 54vw;
      display: block;
      padding: 1rem 20px;
      line-height: normal;
      @extend %fontS !optional;
      font-size: 22px;
      text-decoration: none;
      color: #ffffff;
      text-align: center;

      @media screen and (min-width: 414px) {
        top: 548px;
      }
    }
  }

  .intro-movie {
    margin: 0 36px;
    iframe {
      width: 82vw;
      height: 52vw;
    }
  }
  .intro-movie-wrap {
    display: inline-block;
    position: relative;
    img {
      transform: scaleY(1.2);
    }

    .intro-movie {
      position: absolute;
      top: 1rem;
    }
  }

  .top-apply {
    position: relative;
    z-index: 2;
    height: 464px;
    display: flex;
    flex-flow: column;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(241, 90, 34, 0.89);
      display: block;
    }

    h1,
    h2,
    p {
      z-index: 1;
      text-align: center;
      color: white;
    }

    h1 {
      margin: 73px 110px 22px 110px;
      @extend %fontS !optional;
      font-size: 23px;
    }

    p {
      margin: 0 44px 59px 44px;
    }

    h2 a {
      @extend %fontS !optional;
      font-size: 22px;
      padding: 16px 55px;
      background-color: #ffffff;
      color: #f15a22;
      text-decoration: none;
    }
  }
}
