.front-page {
  img {
    width: 100%;
    height: auto;
  }

  .intro,
  .top-apply {
    background-position: center !important;
    background-size: cover !important;
  }

  .intro {
    position: relative;
    margin-bottom: 300px;
    height: 422px;
    display: flex;
    flex-flow: column;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(241, 90, 34, 0.3);
      display: block;
    }

    @media screen and (min-width: 1200px) {
      height: 48vw;
      margin-bottom: 21vw;
    }

    .intro-desc {
      position: absolute;
      width: 80vw;
      background-color: #ffffff;
      border: 0.5px solid var(--unnamed-color-707070);
      border: 0.5px solid #c6c5c5;
      border-radius: 10px;
      text-align: center;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      @media screen and (min-width: 768px) {
        width: 60vw;
      }

      @media screen and (min-width: 1200px) {
        width: 44vw;
      }

      h1 {
        // font-size: 23px;
        color: #f15a22;
        @extend %fontS !optional;
        margin: 26px 36px 18px 36px;
      }
      p {
        margin: 0 24px 49px 24px;
      }
    }

    .button {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #f15a22;
      padding: 0;
      border: none;
      width: 54vw;
      display: block;
      padding: 1rem 20px;
      line-height: normal;
      @extend %fontS !optional;
      // font-size: 22px;
      text-decoration: none;
      color: #ffffff;
      text-align: center;

      @media screen and (min-width: 768px) {
        width: 30vw;
      }
      @media screen and (min-width: 1200px) {
        width: 19.5vw;
        font-size: 1.5vw;
      }
    }
  }

  .intro-movie-wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    img {
      transform: scaleY(1.2);
      @media screen and (min-width: 1200px) {
        transform: scaleY(1);
      }
    }

    .intro-movie {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // margin: 0 36px;
      iframe {
        width: 82vw;
        height: 52vw;
        @media screen and (min-width: 1200px) {
          width: 65vw;
          height: 40vw;
        }
      }
    }
  }

  .top-apply {
    position: relative;
    z-index: 2;
    height: 464px;
    display: flex;
    flex-flow: column;
    align-items: center;

    @media screen and (min-width: 1200px) {
      height: 43vw;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(241, 90, 34, 0.89);
      display: block;
    }

    h1,
    h2,
    p {
      z-index: 1;
      text-align: center;
      color: white;
    }

    h1 {
      margin: 73px 110px 22px 110px;
      @extend %fontS !optional;
      @media screen and (min-width: 1200px) {
        margin: 12.7vw 31vw 2.9vw;
      }
    }

    p {
      margin: 0 44px 59px 44px;
      @media screen and (min-width: 1200px) {
        margin: 0 27vw 2vw;
      }
    }

    h2 a {
      @extend %fontS !optional;

      padding: 1.4px 55px;
      background-color: #ffffff;
      color: #f15a22;
      text-decoration: none;
      @media screen and (min-width: 1200px) {
        padding: 1.4vw 3.8vw;
      }
    }
  }
}
