.primary-menu {
  text-align: right;
  background-color: #ffffff;
  height: 76px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .menu-bars {
    background: none;
    position: relative;

    svg {
      position: absolute;
      top: 36px;
      right: 43px;
      width: 36px;
      height: 31px;
      color: #f15a22;
    }
  }

  .nav-menu {
    background-color: white;
    width: 391px;
    height: 100vh;
    display: flex;
    // justify-content: center;
    flex-flow: column;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;

    &.active {
      right: 0;
      transition: 350ms;
    }
  }

  .nav-text {
    display: flex;
    justify-content: center;
    padding: 8px 0 8px 16px;
    height: 60px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li:first-child {
      text-align: right;
      margin-top: 36px;
      margin-right: 30px;

      svg {
        width: 32px;
        height: 32px;
        color: #f15a22;
      }
    }
  }

  li {
    text-align: center;
  }

  .link-to-wmdd {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #707070;
    width: 95%;
    height: 100%;
    // display: flex;
    align-items: center;
    padding: 0 1rem;

    &:hover {
      color: #f15a22;
    }
  }
}
