@font-face {
  font-family: "Adelle Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Adelle Regular"), url("/sass/fonts/fontfiles/Adelle_Reg.woff") format("woff");
}

@font-face {
  font-family: "Adelle Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Adelle Italic"), url("/sass/fonts/fontfiles/Adelle_Italic.woff") format("woff");
}

@font-face {
  font-family: "Adelle Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Adelle Light Italic"), url("/sass/fonts/fontfiles/Adelle_LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Adelle Light";
  font-style: normal;
  font-weight: normal;
  src: local("Adelle Light"), url("/sass/fonts/fontfiles/Adelle_light.woff") format("woff");
}

@font-face {
  font-family: "Adelle SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Adelle SemiBold Italic"), url("/sass/fonts/fontfiles/Adelle_SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Adelle SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Adelle SemiBold"), url("/sass/fonts/fontfiles/Adelle_Semibold.woff") format("woff");
}

@font-face {
  font-family: "Adelle Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Adelle Bold"), url("/sass/fonts/fontfiles/Adelle_Bold.woff") format("woff");
}

@font-face {
  font-family: "Adelle Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Adelle Bold Italic"), url("/sass/fonts/fontfiles/Adelle_BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Adelle ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("Adelle ExtraBold"), url("/sass/fonts/fontfiles/Adelle_ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Adelle ExtraBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Adelle ExtraBold Italic"), url("/sass/fonts/fontfiles/Adelle_ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Adelle Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Adelle Heavy"), url("/sass/fonts/fontfiles/Adelle_Heavy.woff") format("woff");
}

@font-face {
  font-family: "Adelle Heavy Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Adelle Heavy Italic"), url("/sass/fonts/fontfiles/Adelle_HeavyItalic.woff") format("woff");
}

body, p, .primary-menu .MuiAccordionDetails-root p a {
  font-family: "Adelle Regular";
}

.front-page .intro .intro-desc h1, .front-page .intro button a, .front-page .studentwork-intro h1 {
  font-family: "Adelle SemiBold";
}

.primary-menu .MuiAccordion-root p {
  font-family: "Adelle Bold";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
  font-size: 13px;
  color: #707070;
  letter-spacing: 0.39px;
  text-align: center;
  line-height: 1.8;
}

iframe {
  border: none;
}

.primary-menu {
  text-align: right;
  background-color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #dedede;
}

.primary-menu div {
  padding: 0;
  margin: 0;
}

.primary-menu .menu-bars {
  background: none;
  position: relative;
  font-size: 2rem;
  height: 100%;
  width: 100%;
}

.primary-menu .menu-bars svg {
  position: absolute;
  top: 36px;
  right: 30px;
  width: 36px;
  height: 31px;
  color: #f15a22;
}

.primary-menu .nav-menu {
  background-color: white;
  width: 391px;
  height: 680px;
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 0;
  right: -130%;
  transition: 850ms;
  z-index: 5;
}

.primary-menu .nav-menu.active {
  right: 0;
  transition: 350ms;
}

.primary-menu .nav-text {
  display: flex;
  justify-content: center;
  padding: 8px 0 8px 16px;
  height: 60px;
}

.primary-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.primary-menu ul li {
  text-align: left;
  border-bottom: 1px solid #dedede;
}

.primary-menu ul li:first-child {
  border-bottom: 1px solid #dedede;
  height: 100px;
}

.primary-menu ul li:first-child a {
  position: absolute;
  top: 36px;
  right: 32px;
}

.primary-menu ul li:last-child {
  border: none;
}

.primary-menu ul li svg {
  width: 32px;
  height: 32px;
  color: #f15a22;
}

.primary-menu ul li.menu-item {
  padding: 17px 0 17px 53px;
}

.primary-menu ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: #707070;
}

.primary-menu ul li a:hover {
  color: #f15a22;
}

.primary-menu .link-to-wmdd {
  text-align: center;
}

.primary-menu .MuiAccordion-root {
  border-bottom: 1px solid #dedede;
}

.primary-menu .MuiAccordion-root:before {
  background-color: rgba(0, 0, 0, 0);
}

.primary-menu .MuiAccordionSummary-content p {
  color: #707070;
  font-size: 2rem;
  padding: 33.5px 0 18.5px 53px;
}

.primary-menu .MuiAccordionSummary-expandIcon {
  margin: 33.5px 42px 18.5px 0;
}

.primary-menu .MuiPaper-elevation1 {
  box-shadow: none;
}

.primary-menu .MuiCollapse-container a {
  text-decoration: none;
  color: #8b8b8b;
  font-size: 25px;
}

.primary-menu .MuiCollapse-container a:hover {
  color: #f15a22;
}

.primary-menu .MuiAccordionDetails-root {
  padding-bottom: 28px;
}

.primary-menu .MuiAccordionDetails-root p {
  padding-left: 53px;
}

.primary-menu .MuiAccordionDetails-root:last-child {
  padding-bottom: 44.5px;
}

.primary-menu .MuiSvgIcon-root {
  transform: rotate(-90deg);
  font-size: 2.5rem;
}

.primary-menu .MuiAccordionSummary-root[aria-expanded="true"] p,
.primary-menu .MuiAccordionSummary-root[aria-expanded="true"] svg {
  color: #f15a22;
}

.primary-menu .Mui-expanded .MuiSvgIcon-root {
  transform: rotate(-180deg);
}

.primary-menu .Mui-expanded.MuiAccordion-root, .primary-menu .Mui-expanded.MuiAccordionSummary-content {
  margin: 0;
}

.front-page img {
  width: 100%;
  height: auto;
}

.front-page .intro {
  position: relative;
  margin-bottom: 295px;
}

.front-page .intro img {
  width: 428px;
  height: 422px;
}

.front-page .intro .intro-desc {
  position: absolute;
  top: 178px;
  left: 43px;
  width: 329px;
  height: 388px;
  background-color: #ffffff;
  border: 0.5px solid var(--unnamed-color-707070);
  border: 0.5px solid #707070;
  border-radius: 10px;
  text-align: center;
}

.front-page .intro .intro-desc h1 {
  font-size: 23px;
  color: #f15a22;
  margin: 26px 36px 18px 36px;
}

.front-page .intro .intro-desc p {
  margin: 0 24px 49px 24px;
}

.front-page .intro button {
  position: absolute;
  top: 538px;
  left: 92px;
  width: 231px;
  height: 83px;
  background-color: #f15a22;
  border-radius: 5px;
  padding: 0;
  border: none;
}

.front-page .intro button a {
  width: 192px;
  height: 56px;
  display: block;
  padding: 1rem 20px 11px 20px;
  font-size: 22px;
  text-decoration: none;
  color: #ffffff;
}

.front-page .intro-movie {
  margin: 0 36px;
}

.front-page .intro-movie iframe {
  width: 341px;
  height: 213px;
}

.front-page .studentwork-intro {
  margin: 94px 33px 0 33px;
  text-align: center;
}

.front-page .studentwork-intro h1 {
  font-size: 23px;
  text-align: center;
  color: #f15a22;
  margin-bottom: 30px;
}

.front-page .studentwork-intro p {
  text-align: left;
  margin-bottom: 30px;
}

.front-page .studentwork-intro a {
  font-size: 14px;
  letter-spacing: 0.14px;
  color: #707070;
  font-family: Arial;
}

.front-page .top-apply {
  position: relative;
  margin-bottom: 5rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: 2;
  height: 464px;
}

.front-page .top-apply .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(241, 90, 34, 0.89);
}
/*# sourceMappingURL=style.css.map */