.news-events-intro {
  display: flex;
  flex-flow: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    padding: 0 4rem;
  }

  .news-intro-top {
    @media screen and (min-width: 1200px) {
      margin: 0 8.38vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2.7vw;
    }
  }

  h1 {
    @extend %fontS !optional;
    font-size: 23px;
    margin: 72px auto 23px auto;
    color: #f15a22;
    text-decoration: none;
    @media screen and (min-width: 1200px) {
      margin-bottom: 29px;
      font-size: 2.4rem;
      margin-bottom: 78px;
    }
  }

  .news-event-intro {
    padding: 2rem;
    @media screen and (min-width: 680px) {
      padding: 0 4rem;
    }
    @media screen and (min-width: 1200px) {
      padding: 0;
    }
    .news-event-title {
      text-decoration: none;
      margin-bottom: 13px;
    }
    h2 {
      text-decoration: none;
      @extend %fontB !optional;
      font-size: 28px;
      color: #f15a22;
      text-align: left;
      margin: 0;

      @media screen and (min-width: 1200px) {
        font-size: 2.5vw;
      }
    }

    .post-date {
      font-size: 16px;
      margin: 0 0 33px 0;
      display: block;
      text-align: left;
    }

    .intro-desc {
      text-align: left;
      margin-bottom: 33px;
    }
  }
}
