.instructors-page {
  img {
    width: 100%;
    height: auto;
  }

  .instructor-top {
    margin-bottom: 65px;
    @media screen and (min-width: 1200px) {
      margin: 6.8vw 23vw 4.3vw;
    }

    h1 {
      @extend %fontS !optional;
      // font-size: 23px;
      margin: 65px 90px 22px 90px;
      color: #f15a22;
      text-align: center;
      @media screen and (min-width: 1200px) {
        margin-top: 0;
      }
    }

    p {
      text-align: left;
      margin: 1rem 35px;
      @media screen and (min-width: 768px) {
        padding: 0 2rem;
      }
      @media screen and (min-width: 1200px) {
        padding: 0;
        margin: 0;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .instructor-list {
      margin-left: 8.5vw;
    }
  }
}
