body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  @extend %fontReg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
a,
span {
  @extend %fontReg !optional;
  font-size: 13px;
  color: #707070;
  letter-spacing: 0.39px;
  text-align: center;
  line-height: 1.8;
}

iframe {
  border: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 23px;
}
p {
  font-size: 13px;
}
a {
  font-size: 22px;
}

.loading {
  display: flex;
  justify-content: center;

  margin: 10rem auto 40rem;

  .bar {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 2.5vw;
    margin-bottom: calc(80px / 1.5);
  }

  p {
    font-size: 1vw;
  }

  a {
    font-size: 1.45rem;
  }
}
