.project-page {
  display: flex;
  flex-flow: column;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    @extend %fontS !optional;
    font-size: 23px;
    margin: 72px auto 23px auto;
    color: #f15a22;
  }

  h2 {
    width: 100%;
    a {
      font-size: 16px;
      @extend %fontB !optional;
      color: #707070;
      text-decoration: underline;
    }
    margin: 0 42px;

    align-self: flex-start;
  }

  .app-single-desc {
    text-align: left;
    margin: 35px 39px;
  }
  .app-cat {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
  }
  .app-main-img {
    @media screen and (min-width: 768px) {
      width: 70%;
    }
  }

  .team-members {
    margin: 35px 42px 32px 42px;
    align-self: flex-start;
    p {
      font-family: Helvetica;
      font-size: 16px;
      margin: 0 auto 5px 0;
      text-align: left;
    }

    li {
      list-style-type: none;
      font-family: Helvetica;
      font-size: 16px;
      margin-bottom: 5px;
      color: #707070;
    }
  }
}
