.alumnis-success {
  margin: 94px 33px 5rem 33px;
  text-align: center;
  // display: flex;
  // flex-flow: column;
  // align-items: center;

  h1 {
    // font-size: 23px;
    text-align: center;
    color: #f15a22;
    @extend %fontS !optional;
    margin-bottom: 30px;
  }
  p {
    text-align: left;
    margin-bottom: 30px;
  }
  .intro-desc {
    @media screen and (min-width: 680px) {
      padding: 0 2rem;
    }
    @media screen and (min-width: 1200px) {
      width: 60vw;
      margin: 0 auto;
    }
  }
  .swiper-slide {
    width: 367px;
    height: 220vw;
    text-align: left;

    @media screen and (min-width: 414px) {
      height: 200vw;
    }

    @media screen and (min-width: 500px) {
      height: 180vw;
    }

    @media screen and (min-width: 600px) {
      height: 170vw;
    }

    @media screen and (min-width: 700px) {
      height: 160vw;
    }
    @media screen and (min-width: 768px) {
      height: 60vw;

      .alumni-name {
        margin: 0;
      }
      .alumni-comment {
        padding: 0;
        margin: 0 0 1rem 0;
      }
    }
    @media screen and (min-width: 1200px) {
      height: 33vw;
    }
    @media screen and (min-width: 1400px) {
      height: 30vw;
    }

    a {
      font-size: 14px;
      letter-spacing: 0.14px;
      color: #707070;
      font-family: Arial;
    }
  }

  .swiper-pagination {
    width: 100%;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 768px) {
      top: 95%;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background: #f15a22;
      margin: 0 7px;
    }
  }

  .slide {
    border: 1px solid #eb5f25;
    border-radius: 9px;
    padding: 28px 26px 91px 26px;
    margin: 0 0.5rem;
    box-shadow: 6px 6px #eb5f25;
    position: relative;
    display: block;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;

      padding-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      margin: 0 calc(435px / 4 - 33px);

      grid-template-columns: 1fr 2.5fr;
    }
  }

  .alumni-profile-img {
    @media screen and (min-width: 1200px) {
      width: 275px;
      align-self: center;
    }
  }

  .profile {
    @media screen and (min-width: 1200px) {
      align-self: center;
    }
  }

  .char1,
  .char2 {
    position: absolute;
    font-family: Helvetica;
    font-size: 400px;
    font-weight: normal;
    color: #f15a22;
    opacity: 0.15;
  }

  .char1 {
    top: -25rem;
    left: -0.5rem;
  }
  .char2 {
    bottom: -24rem;
    right: 0.5rem;
    transform: rotate(360deg) scale(-1, -1);
    // @media screen and (min-width: 850px) {
    //   top: -19.5rem;
    // }
  }

  .alumni-name {
    // ================
    // font-size: needs to be 28px;
    // =================
    font-size: 26px;
    font-family: Arial;
    font-weight: bold;
    color: #f15a22;
    margin: 26px auto 0 0;
    padding: 0;
    height: 63px;
  }
  .stream,
  .year {
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: #707070;
    margin: 0;
    padding: 0;
  }
}
